// Body
$body-bg: #3c3c3c;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$aquamarine : #7FFFD4;
$cyan-light : #E0FFFF;
$cyan-dark : #008B8B;
$white: #ffffff;
$black: #000000;
$red-hover: #d1171f;
$red-light: #cc5358;
$red-medium: #c42f35;
$red-dark: #9f141a;