$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

@import ".././plugins/css/animate.min.css";
@import ".././plugins/css/hamburgers.min.css";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700");

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html,
body {
	background-color: $body-bg;
	color: $white;
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
	height: 100vh;
    margin: 0;
}

.awesome-container {
	display: block;
	max-width: 1200px;
	padding: 15px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	line-height: 1.4;
}

h1,
.h1 {
	@include font-size(50px);

	@include media-breakpoint-down(sm) {
		@include font-size(40px);
	}

	@include media-breakpoint-down(xs) {
		@include font-size(30px);
	}
}

h2,
.h2 {
	@include font-size(34px);

	@include media-breakpoint-down(md) {
		@include font-size(30px);
	}

	@include media-breakpoint-down(sm) {
		@include font-size(26px);
	}

	@include media-breakpoint-down(xs) {
		@include font-size(22px);
	}
}

h3,
.h3 {
	@include font-size(26px);

	@include media-breakpoint-down(md) {
		@include font-size(22px);
	}

	@include media-breakpoint-down(sm) {
		@include font-size(20px);
	}

	@include media-breakpoint-down(xs) {
		@include font-size(18px);
	}
}

a {
	color: $white;
	@include transition(all 1s ease);

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
	}

	&:hover {
		color: $cyan-dark;
	}
}

.overlay {
	z-index: 9;
	position: relative;
	background: rgba(20, 20, 20, 0.9);
}

.flex-center {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	@include flex(1);
}

.title {
	padding: 15px;
}

// Color Classes
.blue,
.blue:hover {
	color: $blue;
}

.indigo,
.indigo:hover {
	color: $indigo;
}

.purple,
.purple:hover {
	color: $purple;
}

.pink,
.pink:hover {
	color: $pink;
}

.cyan,
.cyan:hover {
	color: $cyan;
}

.cyan-light,
.cyan-light:hover {
	color: $cyan-light;
}

.cyan-dark,
.cyan-dark:hover {
	color: $cyan-dark;
}

.aquamarine,
.aquamarine:hover {
	color: $aquamarine;
}

.red,
.red:hover {
	color: $red;
}

.orange,
.orange:hover {
	color: $orange;
}

.yellow,
.yellow:hover {
	color: $yellow;
}

.green,
.green:hover {
	color: $green;
}

.teal,
.teal:hover {
	color: $teal;
}

// Buttons
button,
button:focus {
	outline: none;
}

body .btn-primary {
	background-color: $cyan-dark;
	border: 0;
	border-radius: 0;
	color: $black;
	padding: 0.5rem 1.95rem;
	@include font-size(20px);
	text-transform: uppercase;
	font-weight: bold;

	&:hover,
	&:active,
	&:focus {
		box-shadow: none !important;
		outline: none !important;
		background-color: $black !important;
		color: $cyan-dark !important;
	}
}

// Scrollbar
.vb > .vb-dragger {
	z-index: 5;
	width: 12px;
	right: 0;
	min-height: 50px;
}

.vb > .vb-dragger > .vb-dragger-styler {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: rotate3d(0, 0, 0, 0);
	transform: rotate3d(0, 0, 0, 0);
	-webkit-transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
	transition: background-color 100ms ease-out, margin 100ms ease-out, height 100ms ease-out;
	background-color: transparentize($aquamarine, 0.6);
	margin: 5px 5px 5px 0;
	border-radius: 20px;
	height: calc(100% - 10px);
	display: block;
	cursor: pointer;
}

.view-container {
	padding-top: 68px;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
	position: relative;

	@include media-breakpoint-down(sm) {
		padding-top: 60px;
	}
}

// Navbar
.navbar {
	background: $black;
	padding: 0;

	.navbar-brand {
		padding: 5px 0 5px 15px;

		@include media-breakpoint-down(sm) {
			padding: 10px 0 10px 15px;
		}

		img {
			max-height: 50px;

			@include media-breakpoint-down(sm) {
				max-height: 40px;
			}
		}
	}

	.hamburger {
		line-height: 1;

		.hamburger-inner,
		.hamburger-inner:after,
		.hamburger-inner:before {
			background-color: $white;
		}
	}

	.navbar-collapse {
		@include media-breakpoint-down(sm) {
			border-top: 1px solid $white;
		}

		a {
			@include flexbox();
			@include align-items(center);
			@include justify-content(center);
			@include font-size(24px);
			margin: 15px 20px;
			position: relative;
			text-transform: uppercase;

			@include media-breakpoint-down(sm) {
				@include font-size(18px);
				display: table;
				margin: 15px auto;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: -10%;
				right: -10%;
				border-bottom: solid 1px $cyan-dark;
				transform: scaleX(0);
				transition: transform 250ms ease-in-out;
				z-index: 1;
			}

			&.router-link-exact-active {
				color: $cyan-dark;
			}

			&.router-link-exact-active::before,
			&:hover::before {
				transform: scaleX(1);
			}

			i {
				padding-right: 10px;
			}
		}
	}
}

// Animation
.tlt span {
	cursor: default;
	@include transition(all 1s ease);
    font-weight: bold;
    position: relative;
}

.char1 {
	-webkit-animation: zoomInDown 3s;
	animation: zoomInDown 3s;
}

.char1:hover,
.char4:hover,
.char8:hover {
	-webkit-animation: bounceOutUp 2s;
	animation: bounceOutUp 2s;
}

.char2:hover,
.char5:hover,
.char7:hover,
.char10:hover {
	-webkit-animation: bounceOutDown 2s;
	animation: bounceOutDown 2s;
}

.char3,
.char6,
.char9 {
	&:hover {
		-webkit-animation: flash 2s;
		animation: flash 2s;
	}
}

#background {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}

// About
.about {
	i {
		@include font-size(50px);
	}

	.title {
		i {
			@include font-size(25px);
			margin-right: 10px;

			@include media-breakpoint-down(xs) {
				@include font-size(20px);
				margin-right: 5px;
			}
		}
	}

	.row .col-6 {
		@include media-breakpoint-down(xs) {
			margin-bottom: 30px;
		}
	}
}

// Portfolio
.portfolio {

    .tlt span {
        margin: 0;
    }
	.char1 {
		-webkit-animation: rubberBand 3s;
		animation: rubberBand 3s;
		animation-iteration-count: infinite;
	}

	.overlay {
		@include flex(1);
	}

	.projects-container {
		@include media-breakpoint-down(sm) {
			left: -5px;
		}
		@include media-breakpoint-down(xs) {
			left: 0;
		}
	}

	.window {
		padding: 30px 50px;

		@include media-breakpoint-down(md) {
			padding: 30px;
		}

		@include media-breakpoint-down(sm) {
			padding: 25px 10px;
		}
	}

	.screen {
		position: relative;
		margin: 0 auto;
		height: 300px;
		display: block;
		background-color: white;
		border: 10px solid #2d2d2d;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;

		@include media-breakpoint-down(md) {
			height: 250px;
		}

		@include media-breakpoint-down(sm) {
			height: 200px;
		}
	}

	.screen-bottom {
		height: 20px;
		background-color: #dcdfe2;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.screen-stand {
		margin: 0 auto;
		width: 35%;
		height: 30px;
		background-color: #dcdfe2;
		border-top: 6px solid #d1d6da;
	}

	.screen-stand-bottom {
		margin: 0 auto 15px;
		width: 50%;
		height: 10px;
		background-color: #d1d6da;
	}

	span {
		display: inline-block;
		position: relative;
		margin: 5px;

		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			width: 100%;
			height: 100%;
			cursor: pointer;

			&:hover + label {
				background-color: $cyan-dark;
				border-color: $cyan-dark;
				color: $white;
				transition: all 0.2s;
			}
		}

		input[type="checkbox"]:checked + label {
			background-color: $cyan-dark;
			border-color: $cyan-dark;
			color: $white;
			transition: all 0.2s;
		}

		label {
			border: 1px solid;
			padding: 3px 5px;
			color: $cyan-dark;
			font-weight: bold;
			margin: 0;

			&.active {
				background-color: $cyan-dark;
				border-color: $cyan-dark;
				color: $white;
				transition: all 0.2s;
			}
		}
	}

	.technologies {
		span {
			display: inline-block;
			border: 1px solid;
			padding: 3px 5px;
			color: $cyan-dark;
			margin: 5px;
		}
	}
}

//Contact
.contact {
	form {
		max-width: 800px;
		padding: 15px;
	}

	.input {
		position: relative;
		z-index: 1;
		display: inline-block;
		margin: 1em 1em 2em;
		width: calc(100% - 3em);
		text-align: center;
	}

	.input__field {
		position: relative;
		display: block;
		float: right;
		padding: 0.8em;
		border: none;
		border-radius: 0;
		color: $white;
		-webkit-appearance: none;
		margin-top: 1px;
		font-size: 16px;
	}

	.input__field:focus {
		outline: none;
	}

	.input__label {
		display: inline-block;
		float: right;
		padding: 0 1em;
		width: 40%;
		color: #6a7989;
		font-weight: bold;
		font-size: 70.25%;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.input__label-content {
		position: relative;
		display: block;
		padding: 15px;
		width: 100%;
		font-size: 14px;
	}

	.input__field--kuro {
		width: 100%;
		background: transparent;
		opacity: 0;
		text-align: center;
		-webkit-transition: opacity 0.3s;
		transition: opacity 0.3s;
	}

	.input__label--kuro {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		color: $cyan-dark;
		pointer-events: none;
		margin: 0;
	}

	.red-outline {
		&.input__label--kuro::before,
		&.input__label--kuro::after {
			border: 1px solid $red;
		}

		&.input__label--kuro::before {
			border-right: none;
		}

		&.input__label--kuro::after {
			border-left: none;
		}
	}

	.input__label--kuro::before,
	.input__label--kuro::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		border: 1px solid #747981;
		-webkit-transition: -webkit-transform 0.3s;
		transition: transform 0.3s;
	}

	.input__label--kuro::before {
		border-right: none;
	}

	.input__label--kuro::after {
		left: 50%;
		border-left: none;
	}

	.input__field--kuro:focus,
	.input--filled .input__field--kuro {
		opacity: 1;
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
	}

	.input__field--kuro:focus + .input__label--kuro::before,
	.input--filled .input__label--kuro::before {
		-webkit-transform: translate3d(-10%, 0, 0);
		transform: translate3d(-10%, 0, 0);
		border: 1px solid $cyan-dark;
		border-right: none;
	}

	.input__field--kuro:focus + .input__label--kuro::after,
	.input--filled .input__label--kuro::after {
		-webkit-transform: translate3d(10%, 0, 0);
		transform: translate3d(10%, 0, 0);
		border: 1px solid $cyan-dark;
		border-left: none;
	}

	.input__field--kuro:focus + .input__label--kuro .input__label-content--kuro,
	.input--filled .input__label-content--kuro {
		-webkit-animation: anim-2 0.3s forwards;
		animation: anim-2 0.3s forwards;
		padding-top: 5px;
	}

	@-webkit-keyframes anim-2 {
		50% {
			opacity: 0;
			-webkit-transform: scale3d(0.3, 0.3, 1);
			transform: scale3d(0.3, 0.3, 1);
		}
		51% {
			opacity: 0;
			-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
			transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		}
		100% {
			opacity: 1;
			-webkit-transform: translate3d(0, 3.7em, 0);
			transform: translate3d(0, 3.7em, 0);
		}
	}

	@keyframes anim-2 {
		50% {
			opacity: 0;
			-webkit-transform: scale3d(0.3, 0.3, 1);
			transform: scale3d(0.3, 0.3, 1);
		}
		51% {
			opacity: 0;
			-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
			transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		}
		100% {
			opacity: 1;
			-webkit-transform: translate3d(0, 3.7em, 0);
			transform: translate3d(0, 3.7em, 0);
		}
	}

	textarea {
		width: 100%;
		background: transparent;
		border: 1px solid #747981;
		outline: none;
		color: $white;
		padding: 0.8em;

		&.red-outline {
			border: 1px solid $red;
		}
	}

	textarea::-webkit-input-placeholder {
		color: $cyan-dark;
		font-size: 14px;
		font-weight: bold;
	}

	textarea:-moz-placeholder {
		color: $cyan-dark;
		font-size: 14px;
		font-weight: bold;
	}

	textarea::-moz-placeholder {
		color: $cyan-dark;
		font-size: 14px;
		font-weight: bold;
	}

	textarea:-ms-input-placeholder {
		color: $cyan-dark;
		font-size: 14px;
		font-weight: bold;
	}

	textarea::placeholder {
		color: $cyan-dark;
		font-size: 14px;
		font-weight: bold;
	}
}

.toasted-container .toasted .fa {
	margin-top: 1px;
}

.submit {
	outline: none;
	text-align: center;
    padding: 0.5rem 1.95rem;
	border-radius: 40px;
	background: transparent;
	border: 2px solid $cyan-dark;
	color: $cyan-dark;
	text-shadow: 0;
	font: {
		size: 16px;
		weight: bold;
	}
	cursor: pointer;
	transition: all 0.25s ease;
	&:hover {
		color: white;
		background: $cyan-dark;
	}
	&:active {
		letter-spacing: 2px;
	}
	&:after {
		content: "SEND MESSAGE";
	}
}
.onclic {
    width: 40px;
    height: 40px;
    padding: 0;
	border-color: $cyan-dark;
	border-width: 3px;
    font-size: 0;
    background-color: transparent;
	border-left-color: $aquamarine;
	animation: rotating 2s 0.25s linear infinite;

	&:after {
		content: "";
	}
	&:hover {
		color: $cyan-dark;
		background: transparent;
	}
}
.validate {
	&:after {
		font-family: "FontAwesome";
		content: "\f00c";
    }
    &:hover {
        &:after {
            content: "SEND MESSAGE";
        }
    }
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.resume {

    .char1 {
		-webkit-animation: rubberBand 3s;
		animation: rubberBand 3s;
		animation-iteration-count: infinite;
	}

    .col-md-6 {
        display: block;
    }
    
    i {
        @include font-size(30px);
        display: inline-block;
        margin-bottom: 30px;
    }

    .technologies {
		span {
			display: inline-block;
			border: 1px solid;
			padding: 3px 5px;
			color: $cyan-dark;
            margin: 5px;
            
            label {
                margin: 0;
            }
		}
	}

}